{% extends 'blogs/base.html' %}

{% block page_header %}
  <h1>{{ blog.name }}</h1>
  <p class="text-muted">@{{ blog.user.username }}</p>
  <p>{{ blog.description }}</p>
  {% if user == blog.user %}
    <a href="{% url 'blogs:edit_blog' %}" class="btn btn-outline-primary">Edit Blog</a>
  {% endif %}
{% endblock page_header %}

{% block content %}
  {% for article in articles %}
    <div class="card mb-3">
      {% comment %} show a header only if the user is the blog author {% endcomment %}
      {% if user == blog.user %}
        <div class="card-header d-flex justify-content-between {% if article.published %}bg-dark text-white{% endif %}">
          {% if article.published %}
            Published
          {% else %}
            Draft
          {% endif %}

          <a href="{% url 'blogs:edit_article' article.id %}" class="btn btn-sm btn-secondary">Edit</a>
        </div>
      {% endif %}
        <div class="card-body">
          <a role="heading" href="{% url 'blogs:article' article.id %}" class="h4 text-dark card-title">{{ article.title }}</a>
          <small>{{ article.date_edited|date:'M d, Y G:i' }}</small>
          <p class="card-text mb-3">
            {{ article.preview }}
          </p>
          {% comment %} <a href="{% url 'blogs:article' article.id %}" class="btn btn-primary">Read Article</a> {% endcomment %}
        </div>
    </div>
  {% empty %}
    <p>This blog has not published any articles yet.</p>
  {% endfor %}
{% endblock content %}

{% block page_footer %}
    <p class="text-muted">{{ blog.readable_article_count }} published articles</p>
{% endblock page_footer %}
